body {
  overflow: hidden; /* Prevents both horizontal and vertical scrolling */
  touch-action: none; /* Disables default touch actions like pan and zoom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

#kvm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#volume-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#niri-controls-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#keyboard {
  border: 2px solid #333;
  width: 300px;
  height: 100px;
}

#mouse {
    width: 250px;
    height: 250px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    overflow: hidden; /* Prevents both horizontal and vertical scrolling */
    touch-action: none; /* Disables default touch actions like pan and zoom */
}

button {
    width: 100px;
    height: 50px;
}

div#scroll-container {
  width: 100x;
  height: 100px;
  display: grid;
  grid: 50px 50px 50px / 50px 50px 50px;
  place-items: center center;
}

button#scroll-left {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-column-start: 1;
}

button#scroll-up {
  width: 50px;
  height: 50px;
  grid-row-start: 1;
  grid-column-start: 2;
}

button#scroll-down {
  width: 50px;
  height: 50px;
  grid-row-start: 3;
  grid-column-start: 2;
}

button#scroll-right {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-column-start: 3;
}

.container {
  display: flex;
}

nav {
  background-color: #333;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
  margin: 10px;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a.active {
  background-color: white;
  color: black;
}

[hidden] {
  display: none !important;
}
