body {
  overflow: hidden; /* Prevents both horizontal and vertical scrolling */
  touch-action: none; /* Disables default touch actions like pan and zoom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

#kvm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-shortcuts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#volume-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard {
  border: 2px solid #333;
  width: 300px;
  height: 100px;
}

#mouse {
    width: 250px;
    height: 250px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    overflow: hidden; /* Prevents both horizontal and vertical scrolling */
    touch-action: none; /* Disables default touch actions like pan and zoom */
}

button {
    width: 100px;
    height: 50px;
}

div#scroll-container {
  width: 150px;
  height: 150px;
  display: grid;
  grid: 50px 50px 50px / 50px 50px 50px;
  place-items: center center;
}

button#scroll-left {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-column-start: 1;
}

button#scroll-up {
  width: 50px;
  height: 50px;
  grid-row-start: 1;
  grid-column-start: 2;
}

button#scroll-down {
  width: 50px;
  height: 50px;
  grid-row-start: 3;
  grid-column-start: 2;
}

button#scroll-right {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-column-start: 3;
}
